<section class="section-faq" id="faq">
  <h2 class="section-faq__title">FAQ</h2>
  <ul class="section-faq__list">
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">How do I start painting?</h5>
      <p class="section-faq__item-text">
        Simply download Spark Art from Google Play, open the app, and start
        exploring the tools and effects
      </p>
    </li>
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">Is the app beginner-friendly?</h5>
      <p class="section-faq__item-text">
        Yes! The intuitive interface makes it easy for anyone to create
        beautiful artwork, from beginners to professional
      </p>
    </li>
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">Are there in-app purchases?</h5>
      <p class="section-faq__item-text">
        Yes, you can unlock additional brushes, color palettes, and special
        effects through in-app purchases
      </p>
    </li>
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">Can I use Spark Art offline?</h5>
      <p class="section-faq__item-text">
        Yes! You can create artwork offline and save it to your desice
      </p>
    </li>
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">How often are new features added?</h5>
      <p class="section-faq__item-text">
        Our team regularly updates the app with new tools, brushes, and exciting
        effects to enhance your experience
      </p>
    </li>
    <li class="section-faq__item">
      <h5 class="section-faq__item-title">Can I print my artwork?</h5>
      <p class="section-faq__item-text">
        Yes, you can save your creations in high resolution and print them for
        personal use
      </p>
    </li>
  </ul>
</section>
