<section class="section-gallery" id="gallery">
  <div class="section-gallery__wpar">
    <h2 class="section-gallery__title">Gallery</h2>

    <picture class="section-gallery__picture-1">
      <source
        srcset="img/iphone13prodesc_2x.png"
        media="(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi)"
      />

      <source srcset="img/iphone13prodesc.png" media="(min-width: 1200px)" />

      <source
        srcset="img/iphone13pro_2x.png"
        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
      />

      <img
        class="section-gallery__image-1"
        src="img/iphone13pro.png"
        alt="iPhone 13 Pro"
      />
    </picture>

    <div class="section-gallery__text-wrap">
      <div class="section-gallery__item">
        <h3 class="section-gallery__item-title">Creative Showcase</h3>
        <p class="section-gallery__item-text">
          Stunning artwork created by users with Spark Art
        </p>
      </div>
      <div class="section-gallery__item">
        <h3 class="section-gallery__item-title">Brush Effects</h3>
        <p class="section-gallery__item-text">
          See the magic of glowing lines, neon effects and dynamic textures
        </p>
      </div>
    </div>

    <picture class="section-gallery__picture-2">
      <source
        srcset="img/iphone15desc_2x.png"
        media="(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi)"
      />
      <source srcset="img/iphone15desc.png" media="(min-width: 1200px)" />
      <source
        srcset="img/iphone15_2x.png"
        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
      />
      <img
        class="section-gallery__image-2"
        src="img/iphone15.png"
        alt="iPhone 15"
      />
    </picture>

    <div class="section-gallery__text-wrap">
      <div class="section-gallery__item">
        <h3 class="section-gallery__item-title">Art Styles</h3>
        <p class="section-gallery__item-text">
          Explore the different possibilities, from&nbsp;doodles to detailed
          masterpieces
        </p>
      </div>
      <div class="section-gallery__item">
        <h3 class="section-gallery__item-title">Timelapse Feature</h3>
        <p class="section-gallery__item-text">
          Watch how a blank canvas transforms into&nbsp;a work of art in seconds
        </p>
      </div>
    </div>

    <a
      class="section-gallery__link"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.bigduckgames.sparkart&hl=en&gl=us"
    >
      <picture class="section-gallery__picture-3">
        <source
          srcset="img/google-play_2x.png"
          media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
        />
        <img src="img/google-play.png" alt="Google Play" />
      </picture>
      <span class="section-gallery__link-text">Get it on Google Play</span>
    </a>
  </div>
</section>
