<section class="section-reviews" id="reviews">
  <h2 class="section-reviews__title">Reviews</h2>
  <div class="swiper section-reviews__mobile">
    <ul class="section-reviews__list swiper-wrapper">
      <li class="section-reviews__item swiper-slide">
        <div class="section-reviews__name-wrap">
          <picture class="section-reviews__picture">
            <source
              srcset="img/section-reviews/emma-reynolds_2x.png"
              media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            />
            <img
              src="img/section-reviews/emma-reynolds.png"
              alt="Emma Reynolds picture"
            />
          </picture>
          <div class="section-reviews__name-stars">
            <h3 class="section-reviews__name">Emma Reynolds</h3>
            <div class="section-reviews__stars-wrap">
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="section-reviews__item-text">
          Absolutely love Spark Art! The glowing brushes and special effects
          make my artwork&nbsp;stand out. A perfect way to relax and&nbsp;create
          something beautiful!
        </p>
      </li>
      <li class="section-reviews__item swiper-slide">
        <div class="section-reviews__name-wrap">
          <picture class="section-reviews__picture">
            <source
              srcset="img/section-reviews/michael-tran_2x.png"
              media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            />
            <img
              src="img/section-reviews/michael-tran.png"
              alt="Michael Tran picture"
            />
          </picture>
          <div class="section-reviews__name-stars">
            <h3 class="section-reviews__name">Michael Tran</h3>
            <div class="section-reviews__stars-wrap">
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="section-reviews__item-text">
          This app is a game-changer for digital art. The smooth controls and
          vast color options let me experiment with endless ideas. Highly
          recommend it!
        </p>
      </li>
      <li class="section-reviews__item swiper-slide">
        <div class="section-reviews__name-wrap">
          <picture class="section-reviews__picture">
            <source
              srcset="img/section-reviews/sophia-carter_2x.png"
              media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            />
            <img
              src="img/section-reviews/sophia-carter.png"
              alt="Sophia Carter picture"
            />
          </picture>
          <div class="section-reviews__name-stars">
            <h3 class="section-reviews__name">Sophia Carter</h3>
            <div class="section-reviews__stars-wrap">
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="section-reviews__item-text">
          I’ve never considered myself an artist, but Spark Art makes it so easy
          and fun to create stunning designs. It’s truly a must-have app for
          anyone who loves creativity!
        </p>
      </li>
      <li class="section-reviews__item swiper-slide">
        <div class="section-reviews__name-wrap">
          <picture class="section-reviews__picture">
            <source
              srcset="img/section-reviews/daniel-white_2x.png"
              media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            />
            <img
              src="img/section-reviews/daniel-white.png"
              alt="Daniel White picture"
            />
          </picture>
          <div class="section-reviews__name-stars">
            <h3 class="section-reviews__name">Daniel White</h3>
            <div class="section-reviews__stars-wrap">
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="section-reviews__item-text">
          A fantastic digital drawing experience! The animations and effects
          make each piece feel magical. Plus, sharing my work with friends is
          effortless!
        </p>
      </li>
      <li class="section-reviews__item swiper-slide">
        <div class="section-reviews__name-wrap">
          <picture class="section-reviews__picture">
            <source
              srcset="img/section-reviews/natalie-foster_2x.png"
              media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
            />
            <img
              src="img/section-reviews/natalie-foster.png"
              alt="Natalie Foster picture"
            />
          </picture>
          <div class="section-reviews__name-stars">
            <h3 class="section-reviews__name">Natalie Foster</h3>
            <div class="section-reviews__stars-wrap">
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
              <picture class="section-reviews__star-yellow">
                <source
                  srcset="img/section-reviews/star-yellow_2x.png"
                  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                />
                <img
                  src="img/section-reviews/star-yellow.png"
                  alt="star yellow"
                />
              </picture>
            </div>
          </div>
        </div>
        <p class="section-reviews__item-text">
          I can’t get enough of Spark Art! The ability to mix and match brushes
          with glowing effects gives me so many ways to express myself. A
          five-star app!
        </p>
      </li>
    </ul>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
