.footer {
  scroll-margin-top: 100px;
  &__wrap {
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 20px 32px 12px 32px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__logo-link {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__spark {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1c1c1c;
    text-decoration: none;
    display: inline-block;
  }

  &__links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 31px;

    li {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: var(--background);
      a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
      }
    }
  }

  &__copyright {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1c1c1c;
  }
}

@include media(desktop) {
  .footer {
    &__wrap {
      background-color: #fff;
      border-radius: 12px 12px 0 0;
      padding: 32px 79px 20px 79px;
    }
    &__logo-link {
      gap: 8px;
    }
    &__image {
      width: 146px;
      height: 134px;
    }
    &__spark {
      font-size: 24px;
    }
    &__links {
      flex-direction: row;
      margin-bottom: 37px;
      gap: 24px;
      li {
        font-size: 32px;
        a {
          font-size: 32px;
        }
      }
    }
    &__logo {
      margin-bottom: 40px;
    }
    &__copyright {
      font-size: 20px;
      text-align: center;
    }
    &__text-line {
      position: relative;
      padding-right: 10px;
      display: inline-block;
    }
    &__text-line::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 70%;
      background-color: #1c1c1c;
    }
  }
}
